@model E_CommrecE_MVC.Models.OrderItem

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Quantity" class="control-label">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"> Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label> Number Of Order</label>
        <input asp-for="OrderId" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label> Number Of Product</label>
        <input asp-for="ProductId" class="form-control" readonly />
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>