@model E_CommrecE_MVC.Models.OrderCustomer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@ViewContext.RouteData.Values["id"]" />

            <div class="form-group">
                <label class="control-label">Customer</label>
                <select asp-for="selectedCustomerId" class="form-control"
                        asp-items="@(new SelectList(Model.Customers, "Id", "Name"))">
                </select>
                <span asp-validation-for="selectedCustomerId" class="text-danger"></span>
            </div>

          

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}